<template>
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Dashboard</h3>
    </div>

    <ul class="list-unstyled components">
      <li class="active">
        <nuxt-link to="/">Home</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/lab">Lab</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/services">Services</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/portfolio">Portfolio</nuxt-link>
      </li>

      <li>
        <nuxt-link to="/categories">Categories</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/contact">Contact</nuxt-link>
      </li>
      <li>
        <nuxt-link to="/footer">Footer</nuxt-link>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li>
        <a href="https://studio96-architektura.pl">Go to Home page</a>
      </li>
    </ul>
  </nav>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
      isScroll: false,
    }
  },

  computed: {
    isRouteActive: function () {
      if (this.$nuxt.$route.path == '/') {
        return true
      } else {
        return false
      }
    },
  },

  beforeMount() {
    window.addEventListener('scroll', this.handleScroll)
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll)
  },

  methods: {
    handleScroll(event) {
      if (window.scrollY > 0) {
        this.isScroll = true
      } else {
        this.isScroll = false
      }
    },
  },
}
</script>

<style lang="scss" scoped></style>
