<template>
    <div>
        <h1>Categories</h1>
        <b-button @click="showModalCreate">Create</b-button>
        <b-modal ref="create" hide-footer>
            <form ref="form" @submit.stop.prevent="createItem">
                <input
                    v-model="name"
                    class="form-control"
                    placeholder="Categorry name"
                    type="text"
                    autocomplete="off"
                    value
                />
            </form>
            <b-button class="mt-3" variant="outline-primary" @click="createItem"
                >Create</b-button
            >
        </b-modal>

        <b-modal id="edit" title="Edit" @ok="updateItem">
            <p class="my-4">
                <input
                    v-model="name"
                    class="form-control"
                    placeholder="Tittle"
                    type="text"
                    autocomplete="off"
                />
            </p>
        </b-modal>

        <b-table
            class="mt-4"
            :items="categories"
            :fields="fields"
            striped
            responsive="sm"
        >
            <template v-slot:cell(actions)="row">
                <b-button
                    size="sm"
                    variant="outline-primary"
                    v-b-modal.edit
                    @click="setData(row)"
                    >Edit</b-button
                >
            </template>
        </b-table>

        <div class="overflow-auto">
            <b-pagination
                v-model="page"
                :total-rows="categories.total"
                :per-page="categories.per_page"
                size="sm"
            ></b-pagination>
        </div>
    </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    layout: 'dashboard',

    middleware: 'admin',

    async asyncData({ store }) {
        try {
            await store.dispatch('categories/getAllCategories');
        } catch (error) {
            console.error(error);
        }
    },

    data() {
        return {
            page: '1',
            fields: ['id', 'name', 'actions'],
            name: null,
            itemId: null
        };
    },

    watch: {
        page: {
            handler: async function(value) {
                await this.getData(value);
            }
        }
    },

    computed: {
        ...mapGetters({
            categories: 'categories/getCategories'
        })
    },
    methods: {
        ...mapActions({
            getData: 'categories/getAllCategories',
            delete: 'categories/deleteItem',
            createCategories: 'categories/createItem',
            updateCategories: 'categories/updateItem'
        }),
        async deleteItem(item) {
            const { id } = item;
            await this.delete(id);
        },
        showModalCreate() {
            this.$refs['create'].show();
            this.name = null;
        },
        hideModalCreate() {
            this.$refs['create'].hide();
        },
        createItem() {
            const name = this.name;
            if (name) {
                this.createCategories({ name });
            }
            this.hideModalCreate();
        },
        setData(item) {
            this.name = item.item.name;
            this.itemId = item.item.id;
        },

        async updateItem() {
            const id = this.itemId;
            const name = this.name;

            try {
                await this.updateCategories({ id, name });
            } catch (e) {
                console.error(e);
            }

            this.itemId = null;
            this.name = null;

            await this.getData();
        }
    }
};
</script>
