<template>
  <div>
    <h1>Contact</h1>
    <div class="col-8 offset-2">
      <b-form>
        <div class="form-group">
          <label for="exampleInputEmail1">Some Text</label>
          <input
            v-model="formData.text"
            type="text"
            class="form-control"
            placeholder="Text"
          />
          <small id="emailHelp" class="form-text text-muted"></small>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input
            v-model="formData.email"
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Phone</label>
          <input
            v-model="formData.phone"
            type="phone"
            class="form-control"
            placeholder="Phone"
          />
        </div>
        {{ message }}<br />
        <b-button class="btn btn-primary" @click="save()">Submit</b-button>
      </b-form>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  layout: 'dashboard',

  middleware: 'admin',

  async asyncData({ store }) {
    try {
      await store.dispatch('contents/getData', {
        slug: 'contact-page',
      })
    } catch (error) {
      console.error(error)
    }
  },

  data() {
    return {
      formData: {},
      message: '',
    }
  },

  computed: {
    ...mapGetters({
      content: 'contents/getContent',
    }),
  },

  async mounted() {
    const data = this.content

    this.formData = JSON.parse(JSON.stringify(data))
  },

  methods: {
    ...mapActions({
      updateContent: 'contents/updateContent',
    }),

    async save() {
      const content = JSON.stringify(this.formData)
      try {
        this.updateContent({
          slug: 'contact-page',
          content,
        })

        this.message = 'Text has been updated!'
      } catch (err) {
        console.error(err)
      }
    },
  },
}
</script>
