<template>
  <div class="col-8 offset-2">
    <h1>Footer</h1>
    <form class="form-signin" @submit.prevent="submitLogInRequest">
      <div v-for="(item, index) in data" :key="item.name">
        <label class="checkbox pull-left">{{ item.name }}</label>
        <input
          v-model="data[index].url"
          class="form-control"
          placeholder="link"
          type="text"
          autocomplete="off"
        />
        <br />
      </div>
      {{ message }}
      <br />

      <button type="button" class="btn btn-success mt-3" @click="save">
        Save
      </button>
    </form>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import TextEditor from '@/components/elements/textEditor.vue'

export default {
  layout: 'dashboard',

  middleware: 'admin',

  components: {
    TextEditor,
  },

  async asyncData({ store }) {
    try {
      await store.dispatch('contents/getData', {
        slug: 'social-media',
      })
    } catch (error) {
      console.error(error)
    }
  },

  data() {
    return {
      data: [],
      message: '',
    }
  },

  computed: {
    ...mapGetters({
      content: 'contents/getContent',
    }),
  },

  async mounted() {
    const data = this.content

    this.data = JSON.parse(JSON.stringify(data))
  },

  methods: {
    ...mapActions({
      updateContent: 'contents/updateContent',
    }),

    async save() {
      try {
        this.updateContent({ slug: 'social-media', content: this.data })

        this.message = 'Text has been updated!'
      } catch (err) {
        console.error(err)
      }
    },
  },
}
</script>
