<template>
  <div>
    <h1>Dashbard</h1>
    <b-button @click="$router.push('/home/create-image')">Add Image</b-button>

    <b-modal
      id="modal-footer-sm"
      title="Change Tittle"
      button-size="sm"
      @ok="updateItem"
    >
      <p class="my-2">
        {{ editItemIndex }}
        <input
          v-model="formData.name"
          class="form-control"
          placeholder="Tittle"
          type="text"
          autocomplete="off"
        />
      </p>
    </b-modal>

    <b-modal id="edit" title="Delete" @ok="deleteItem">
      <p class="my-4">Do you want to delete it? {{ editItemIndex }}</p>
    </b-modal>

    <b-table
      class="mt-4"
      :items="items.data"
      :fields="fields"
      striped
      responsive="sm"
    >
      <template v-slot:cell(image)="row">
        <img
          :src="baseUrl + 'thumbnail/' + row.item.image"
          width="50"
          height="50"
        />
      </template>

      <template v-slot:cell(actions)="row">
        <b-button
          size="sm"
          variant="outline-primary"
          v-b-modal.modal-footer-sm
          @click="setData(row)"
          >Edit</b-button
        >
        <b-button
          size="sm"
          variant="outline-danger"
          @click="setData(row)"
          v-b-modal.edit
          >DELETE</b-button
        >
      </template>
    </b-table>

    <div class="overflow-auto">
      <b-pagination
        v-model="page"
        :total-rows="items.total"
        :per-page="items.per_page"
        size="sm"
      />
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import config from '@/config'

export default {
  layout: 'dashboard',

  middleware: 'admin',

  data() {
    return {
      page: '1',
      fields: ['id', 'image', 'name', 'actions'],
      formData: {
        name: null,
      },
      message: null,
      editItemIndex: null,
      itemId: null,
    }
  },

  async asyncData({ store }) {
    try {
      await store.dispatch('homePage/getData')
    } catch (error) {
      console.error(error)
    }
  },

  computed: {
    ...mapGetters({
      items: 'homePage/getHome',
    }),
    baseUrl() {
      return config.mediaBaseUrl
    },
    coverImage() {
      return this.items.data.find((item) => item !== undefined)
    },
  },
  methods: {
    ...mapActions({
      getData: 'homePage/getData',
      updateImage: 'homePage/update',
      deleteImage: 'homePage/deleteItem',
    }),

    setData(item) {
      this.editItemIndex = item.index
      this.formData = {
        name: item.item.name,
      }

      this.itemId = item.item.id
    },

    async updateItem() {
      const id = this.itemId
      const formData = this.formData

      try {
        await this.updateImage({ id, formData })
      } catch (e) {
        console.error(e)
      }

      this.itemId = null
      this.formData = {}
      this.editItemIndex = null

      await this.getData()
    },

    async deleteItem() {
      try {
        this.deleteImage(this.itemId)
      } catch (e) {
        console.error(e)
      }

      await this.getData()
    },
  },
}
</script>
