<template>
  <div class="col-8 offset-2">
    <h1>Lab</h1>
    <client-only>
      <quill-editor ref="myQuillEditor" v-model="data" />
    </client-only>
    <input
      type="hidden"
      id="x"
      value='<div><span style="color: red;">Hello</span> <span style="font-family: &amp;quot;Comic Sans MS&amp;quot;;">world</span></div>'
    />

    {{ message }}<br />

    <button type="button" class="btn btn-success mt-3" @click="save">
      Save
    </button>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import TextEditor from '@/components/elements/textEditor.vue'

export default {
  layout: 'dashboard',

  middleware: 'admin',

  components: {
    TextEditor,
  },

  async asyncData({ store }) {
    try {
      await store.dispatch('contents/getData', {
        slug: 'lab-page',
      })
    } catch (error) {
      console.error(error)
    }
  },

  data() {
    return {
      data: '',
      message: '',
    }
  },

  computed: {
    ...mapGetters({
      content: 'contents/getContent',
    }),
  },

  async mounted() {
    this.data = this.content
  },

  methods: {
    ...mapActions({
      updateContent: 'contents/updateContent',
    }),

    async save() {
      try {
        this.updateContent({ slug: 'lab-page', content: this.data })

        this.message = 'Text has been updated!'
      } catch (err) {
        console.error(err)
      }
    },
  },
}
</script>
