<template>
  <div class="col-8 offset-2">
    <h1>Services</h1>

    <client-only>
      <quill-editor ref="myQuillEditor" v-model="data" />
    </client-only>

    {{ message }}<br />

    <button type="button" class="btn btn-success mt-3" @click="save">
      Save
    </button>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  layout: 'dashboard',

  middleware: 'admin',

  async asyncData({ store }) {
    try {
      await store.dispatch('contents/getData', {
        slug: 'services-page',
      })
    } catch (error) {
      console.error(error)
    }
  },

  data() {
    return {
      data: '',
      message: '',
    }
  },

  computed: {
    ...mapGetters({
      content: 'contents/getContent',
    }),
  },

  async mounted() {
    this.data = this.content
  },

  methods: {
    ...mapActions({
      updateContent: 'contents/updateContent',
    }),

    async save() {
      try {
        this.updateContent({
          slug: 'services-page',
          content: this.data,
        })

        this.message = 'Text has been updated!'
      } catch (err) {
        console.error(err)
      }
    },
  },
}
</script>
