<template>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    preserveAspectRatio="xMidYMid meet"
    viewBox="0 0 132 250"
    width="132"
    height="250"
  >
    <defs>
      <path
        d="M94.08 184.34L94.08 37.35L24.16 112.65L23.78 184.33L94.08 184.34Z"
        id="a2mmNBiJ2x"
      ></path>
      <path
        d="M23.78 186.38L23.78 182.28L94.08 182.29L95.95 184.34L94.08 186.38L23.78 186.38ZM95.95 186.38L94.08 186.38L95.95 184.34L95.95 186.38ZM95.95 184.34L92.21 184.34L92.21 37.35L92.77 35.88L95.95 37.35L95.95 184.34ZM95.95 32.45L95.95 37.35L92.77 35.88L95.95 32.45ZM92.77 35.88L95.39 38.81L25.47 114.11L22.29 112.64L22.85 111.19L92.77 35.88ZM22.29 111.79L22.85 111.19L22.29 112.64L22.29 111.79ZM22.29 112.64L26.03 112.66L25.65 184.34L23.78 186.38L21.91 184.32L22.29 112.64ZM21.89 186.38L21.91 184.32L23.78 186.38L21.89 186.38Z"
        id="bas9rZy7cp"
      ></path>
      <path
        d="M23.78 184.33L24.16 112.65L94.15 36.96L94.15 -3.56L0.22 98.02L-0.24 184.33L23.78 184.33Z"
        id="aBSHa8Uwm"
      ></path>
      <path
        d="M-0.24 186.38L-0.24 182.29L23.78 182.29L25.65 184.35L23.78 186.38L-0.24 186.38ZM25.64 186.38L23.78 186.38L25.65 184.35L25.64 186.38ZM25.65 184.35L21.91 184.32L22.29 112.64L22.84 111.19L26.03 112.66L25.65 184.35ZM22.29 111.79L22.84 111.19L22.29 112.64L22.29 111.79ZM25.48 114.11L22.84 111.19L92.83 35.5L96.02 36.96L95.46 38.42L25.48 114.11ZM96.02 37.82L95.46 38.42L96.02 36.96L96.02 37.82ZM96.02 36.96L92.28 36.96L92.28 -3.56L92.83 -5.02L96.02 -3.56L96.02 36.96ZM96.02 -8.47L96.02 -3.56L92.83 -5.02L96.02 -8.47ZM92.83 -5.02L95.46 -2.1L1.53 99.48L-1.65 98.01L-1.1 96.57L92.83 -5.02ZM-1.65 97.16L-1.1 96.57L-1.65 98.01L-1.65 97.16ZM-1.65 98.01L2.09 98.04L1.63 184.35L-0.24 186.38L-2.12 184.32L-1.65 98.01ZM-2.13 186.38L-2.12 184.32L-0.24 186.38L-2.13 186.38Z"
        id="a2CEA8TDxt"
      ></path>
    </defs>
    <g>
      <g>
        <g>
          <use
            xlink:href="#a2mmNBiJ2x"
            opacity="1"
            fill="#000000"
            fill-opacity="1"
          ></use>
          <g>
            <use
              xlink:href="#a2mmNBiJ2x"
              opacity="1"
              fill-opacity="0"
              stroke="#000000"
              stroke-width="1"
              stroke-opacity="0"
            ></use>
          </g>
        </g>
        <g>
          <use
            xlink:href="#bas9rZy7cp"
            opacity="1"
            fill="#ffffff"
            fill-opacity="1"
          ></use>
          <g>
            <use
              xlink:href="#bas9rZy7cp"
              opacity="1"
              fill-opacity="0"
              stroke="#000000"
              stroke-width="1"
              stroke-opacity="0"
            ></use>
          </g>
        </g>
        <g>
          <use
            xlink:href="#aBSHa8Uwm"
            opacity="1"
            fill="#000000"
            fill-opacity="1"
          ></use>
          <g>
            <use
              xlink:href="#aBSHa8Uwm"
              opacity="1"
              fill-opacity="0"
              stroke="#000000"
              stroke-width="1"
              stroke-opacity="0"
            ></use>
          </g>
        </g>
        <g>
          <use
            xlink:href="#a2CEA8TDxt"
            opacity="1"
            fill="#ffffff"
            fill-opacity="1"
          ></use>
          <g>
            <use
              xlink:href="#a2CEA8TDxt"
              opacity="1"
              fill-opacity="0"
              stroke="#000000"
              stroke-width="1"
              stroke-opacity="0"
            ></use>
          </g>
        </g>
      </g>
    </g>
  </svg>
</template>

<style>
.NuxtLogo {
  animation: 1s appear;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}
</style>
