<template>
    <div>
        <div class="account-wall">
            <img
                class="profile-img"
                src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                alt=""
            />

            <form class="form-signin" @submit.prevent="submitRecoverButton">
                <div v-if="!urlToken">
                    <input
                        v-model="token"
                        class="form-control"
                        placeholder="Token"
                        type="text"
                        autocomplete="off"
                        value
                    /><small>Enter the key sent in the email.</small>
                </div>
                <input
                    v-model="formData.password"
                    class="form-control"
                    placeholder="New Password"
                    type="password"
                    autocomplete="off"
                    value
                />
                <small>{{ message }}</small>

                <button
                    class="btn btn-lg btn-primary btn-block mt-2"
                    type="submit"
                    >Done</button
                >
                <label class="checkbox pull-left"></label>
                <span class="clearfix"
                    ><nuxt-link to="/login">Go to Login page</nuxt-link></span
                >
            </form>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { required } from 'vuelidate/lib/validators';

export default {
    props: {
        urlToken: String,
        default: null
    },

    validations: {
        formData: {
            password: {
                required
            }
        }
    },

    data() {
        return {
            formData: {
                password: null
            },
            message: null,
            token: null
        };
    },

    methods: {
        async submitRecoverButton() {
            const { password } = this.formData;
            let token;
            if (!this.urlToken) {
                token = this.token;
            } else {
                token = this.urlToken;
            }

            try {
                await this.$axios.post(`/recover-password/${token}`, {
                    password
                });

                this.$router.push('/login');
            } catch (e) {
                if (e.response.data.message) {
                    this.message = e.response.data.message;
                } else {
                    this.message = e;
                }

                console.error(e);
            }
        }
    }
};
</script>

<style lang="scss" scoped></style>
