<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <nuxt-link
          class="navbar-brand js-scroll-trigger"
          v-bind:class="{ fullSizeLogo: !isScroll, logo: isScroll }"
          to="/"
        >
        </nuxt-link>
        <div id="mobile">
          <div
            id="burger-container"
            :class="{ open: isActive }"
            @click="openMenu()"
          >
            <div id="burger">
              <span> &nbsp;</span>

              <span> &nbsp;</span>
              <span> &nbsp;</span>
            </div>
          </div>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <nuxt-link class="nav-link" to="/">Strona Główna</nuxt-link>
            </li>
            <li class="nav-item active">
              <nuxt-link class="nav-link" to="/lab">Pracownia</nuxt-link>
            </li>
            <li class="nav-item active">
              <nuxt-link class="nav-link" to="/services">Usługi</nuxt-link>
            </li>
            <li class="nav-item dropdown main-menu active">
              <nuxt-link class="nav-link" to="">Projekty</nuxt-link>
              <div
                class="dropdown-menu main-menubox"
                aria-labelledby="navbarDropdown"
              >
                <nuxt-link
                  v-for="item in categories.data"
                  :key="item.name"
                  class="dropdown-item"
                  :to="'/portfolio/' + item.id + '/' + item.slug"
                  >{{ item.name }}</nuxt-link
                >
              </div>
            </li>

            <li class="nav-item active">
              <nuxt-link class="nav-link" to="/contact">Kontakt</nuxt-link>
            </li>
            <li v-if="isAdmin" class="nav-item active">
              <nuxt-link class="nav-link" to="/admin">ADMIN</nuxt-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div v-if="isActive" class="mobileMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <nuxt-link class="nav-link" to="/" @click.native="close"
            >Strona Główna</nuxt-link
          >
        </li>
        <li class="nav-item active">
          <nuxt-link class="nav-link" to="/lab" @click.native="close"
            >Pracownia</nuxt-link
          >
        </li>
        <li class="nav-item active">
          <nuxt-link class="nav-link" to="/services" @click.native="close"
            >Usługi</nuxt-link
          >
        </li>
        <li class="nav-item dropdown main-menu active">
          <nuxt-link class="nav-link" to="" @click.native="openDropDown"
            >Projekty</nuxt-link
          >
          <div v-if="dropdown">
            <nuxt-link
              v-for="item in categories.data"
              :key="item.name"
              class="dropdown-item"
              :to="'/portfolio/' + item.id"
              @click.native="close"
              >{{ item.name }}</nuxt-link
            >
          </div>
        </li>

        <li class="nav-item active">
          <nuxt-link class="nav-link" to="/contact" @click.native="close"
            >Kontakt</nuxt-link
          >
        </li>
      </ul>
      <div id="mobile">
        <div
          id="burger-container"
          :class="{ open: isActive }"
          @click="openMenu()"
        >
          <div id="burger">
            <span> &nbsp;</span>

            <span> &nbsp;</span>
            <span> &nbsp;</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    categories: Object,
  },

  data() {
    return {
      isScroll: false,
      isActive: false,
      dropdown: false,
    }
  },

  computed: {
    ...mapGetters(['loggedUser']),

    isAdmin() {
      if (!this.loggedUser) {
        return null
      } else {
        return this.loggedUser
      }
    },

    isRouteActive: function () {
      if (this.$nuxt.$route.path == '/') {
        return true
      } else {
        return false
      }
    },
  },

  //   created() {
  //     window.addEventListener('scroll', this.handleScroll)
  //   },
  // destroyed() {
  //     window.removeEventListener('scroll', this.handleScroll);
  // },

  beforeMount() {
    window.addEventListener('scroll', this.handleScroll)
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll)
  },

  methods: {
    handleScroll(event) {
      if (window.scrollY > 0) {
        this.isScroll = true
      } else {
        this.isScroll = false
      }
    },
    openMenu() {
      if (this.isActive) {
        this.isActive = false
      } else {
        this.isActive = true
      }
    },
    close() {
      this.isActive = false
      this.dropdown = false
    },
    openDropDown() {
      this.dropdown = true
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  min-height: 0%;
}
#mainNav {
  background-color: white;
}
li {
  font-size: 13px;
}

.dropdown-item {
  font-size: 10px;
}

.main-menubox {
  display: none;
  margin-top: -10px;
}

.main-menu:hover .main-menubox {
  display: block;
}

.dropdown-submenu {
  position: relative;
}
.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 3px;
  top: 5%;
}
.dropdown-submenu:hover .dropdown-menu,
.dropdown-submenu:focus .dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute !important;
  margin-top: -30px;
  left: 100%;
}
@media (min-width: 992px) {
  .fullSizeLogo {
    position: absolute;
    margin-top: 100px;
    background: url('https://laravel.studio96-architektura.pl/assets/images/logo.svg')
      no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100px;
    height: 175px;
    transition: all 0.4s ease-in-out 0s;
  }
  .logo {
    position: absolute !important;
    margin-top: 10px;
    background: url('https://laravel.studio96-architektura.pl/assets/images/logo.svg')
      no-repeat;
    background-size: cover;
    background-position: center center;
    width: 50px;
    height: 87px;
    transition: all 0.4s ease-in-out 0s;
  }
}
@media (max-width: 992px) {
  .fullSizeLogo {
    position: absolute;
    margin-top: 50px;
    background: url('https://laravel.studio96-architektura.pl/assets/images/logo.svg')
      no-repeat;
    background-size: cover;
    background-position: center center;
    width: 50px;
    height: 87px;
    transition: all 0.4s ease-in-out 0s;
  }
  .logo {
    position: absolute !important;
    margin-top: 50px;
    background: url('https://laravel.studio96-architektura.pl/assets/images/logo.svg')
      no-repeat;
    background-size: cover;
    background-position: center center;
    width: 50px;
    height: 87px;
    transition: all 0.4s ease-in-out 0s;
  }
  #mobile {
    z-index: 9999999;
    width: 50px;
    height: 50px;
    top: 20px;
    right: 30px;
    position: absolute;
  }
  .dropdown-menu {
    width: 50%;
  }
  .dropdown-menu .dropdown-submenu {
    width: auto;
  }

  .dropdown-menu {
    left: -131%;
  }
}

#burger-container {
  position: relative;
  margin-top: 7px;
  width: 50px;
  @media (min-width: 992px) {
    display: none;
  }
}

#burger {
  cursor: pointer;
  display: block;
}

#burger span {
  background: black;
  display: block;
  width: 50px;
  height: 5px;
  margin-bottom: 10px;
  position: relative;
  top: 0;
  transition: all ease-in-out 0.4s;
}

#burger-container.open span:nth-child(2) {
  width: 10;
  opacity: 0;
}

#burger-container.open span:nth-child(1) {
  transform: rotate(-45deg);
  top: 16px;
}

#burger-container.open span:nth-child(3) {
  transform: rotate(45deg);
  top: -14px;
}

.mobileMenu {
  z-index: 9999;
  position: absolute;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;

  ul {
    margin-top: 60px;
    text-align: center;
    li {
      font-size: 24px;
    }
  }
}
</style>
