<template>
  <div class="container footer">
    <a v-for="item in footer" :key="item.name" :href="item.url">
      <img
        v-if="item.icon && item.url"
        v-bind:src="baseUrl + 'assets/images/' + item.icon"
        width="25"
        height="25"
        style="margin-top: 20px"
      />

      <img
        v-else-if="item.iconUrl && item.url"
        v-bind:src="item.iconUrl"
        width="30"
        height="30"
        style="margin-top: 20px"
      />
    </a>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import config from '@/config'

export default {
  props: {
    footer: Array,
  },

  data() {
    return {
      isScroll: false,
    }
  },

  computed: {
    isRouteActive: function () {
      if (this.$nuxt.$route.path == '/') {
        return true
      } else {
        return false
      }
    },

    baseUrl() {
      return config.mediaBaseUrl
    },
  },

  beforeMount() {
    window.addEventListener('scroll', this.handleScroll)
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll)
  },
  methods: {
    handleScroll(event) {
      if (window.scrollY > 0) {
        this.isScroll = true
      } else {
        this.isScroll = false
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.container {
  left: 0;
  right: 0;
}
.footer {
  position: relative;
  bottom: 0;
  text-align: center;
  float: none;
}
img {
  margin: 2px;
}
</style>
