<template>
    <recover-password-by-token :urlToken="token" />
</template>
<script>
import RecoverPasswordByToken from '@/components/account/recoverPasswordByToken';

export default {
    middleware: 'login',

    layout: 'login',

    components: {
        RecoverPasswordByToken
    },

    computed: {
        token() {
            if (this.$route.query) {
                return this.$route.query.hash;
            } else {
                return null;
            }
        }
    }
};
</script>
