<template>
  <div class="container">
    <div class="row" style="margin-bottom: 40px">
      <div class="col-md-4 offset-md-1">
        <div class="contact">
          <img
            v-bind:src="baseUrl + '/assets/images/contact_icon.png'"
            ref=""
          />
          <p>{{ content.text }}</p>
          <p>{{ content.phone }}</p>
          <p>{{ content.email }}</p>
        </div>
      </div>
      <div class="col-md-4 offset-md-1">
        <b-form v-model="isValid">
          <b-form-input
            id="name"
            v-model="form.name"
            required
            placeholder="Imię i Nazwisko"
            @blur="$v.form.name.$touch()"
          /><small>{{ nameErrors[0] }}</small>

          <b-form-input
            id="email"
            v-model="form.email"
            type="email"
            required
            placeholder="Email"
            @blur="$v.form.email.$touch()"
          /><small>{{ emailErrors[0] }}</small>

          <b-form-textarea
            style="overflow: hidden"
            id="textarea"
            v-model="form.text"
            placeholder="Treść wiadomości"
            rows="3"
            max-rows="6"
            @blur="$v.form.text.$touch()"
          />

          <b-button v-if="!$v.$invalid" @click="recaptcha()" id="button"
            >WYŚLIJ</b-button
          >
          <b-button v-else id="button" disabled>WYŚLIJ</b-button>
        </b-form>
      </div>
    </div>
  </div>
</template>

<script>
import config from '@/config'
import { mapGetters, mapActions } from 'vuex'
import { required, email } from 'vuelidate/lib/validators'
import { validationMixin } from 'vuelidate'

export default {
  layout: 'default',

  async asyncData({ store }) {
    try {
      const x = await store.dispatch('contents/getData', {
        slug: 'contact-page',
      })
    } catch (error) {
      console.error(error)
    }
  },

  mixins: [validationMixin],

  validations: {
    form: {
      email: { email, required },
      name: { required },
      text: { required },
    },
  },

  data() {
    return {
      form: {
        email: '',
        name: '',
        text: '',
      },

      isValid: false,
    }
  },

  computed: {
    ...mapGetters({
      content: 'contents/getContent',
    }),

    baseUrl() {
      return config.mediaBaseUrl
    },

    nameErrors() {
      const errors = []
      if (!this.$v.form.name.$dirty) return errors
      !this.$v.form.name.required &&
        errors.push('Imię i Nazwisko jest wymagane')

      return errors
    },

    emailErrors() {
      const errors = []
      if (!this.$v.form.email.$dirty) return errors
      !this.$v.form.email.email && errors.push('E-mail musi zawierać @')
      !this.$v.form.email.required && errors.push('E-mail jest wymagany')

      return errors
    },
  },

  methods: {
    ...mapActions({
      sendEmail: 'contact/sendEmail',
    }),

    async recaptcha() {
      // await this.$recaptchaLoaded()

      // const token = await this.$recaptcha('login')

      // if (token) {
      //   this.onSuccess()
      // }
      //@TODO - install and config recaptcha
      this.onSuccess()
    },

    async onSuccess(token) {
      const form = this.form

      try {
        this.sendEmail({ form })
      } catch (err) {
        console.error(err)
      }

      this.form = {}
    },
  },

  head() {
    return {
      title: 'Studio96 Architekt Łukasz Rozkosz',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: `Studio96 Architektura. - ${this.content.text}, telefon: ${this.content.phone}, email: ${this.content.email}`,
        },
      ],
    }
  },
}
</script>
<style scoped>
.container {
  margin-top: 200px;
}

@media (max-width: 767px) {
  .container {
    margin-top: 50px;
  }
}

@media (max-width: 960px) {
  .container {
    margin-top: 100px;
  }
}

#name,
#email,
#textarea {
  margin-top: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid black;
}

#button {
  width: 100%;
  height: 40px;
  margin-top: 30px;
  background-color: white;
  border: 4px solid black;
  color: black;
}

#button:hover {
  background-color: black;
  color: white;
}

*:focus {
  outline: none;
}
.contact {
  margin-top: 60px;
  text-align: center;
}
p {
  margin-bottom: 1px;
}
</style>
