<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-sm-0 col-md-3 leftElement">
          <table style="margin-top: 70px">
            <tbody>
              <tr v-for="item in icons" :key="item.image">
                <td class="icon">
                  <img
                    v-bind:src="baseUrl + item.image"
                    :width="item.width"
                    :height="item.height"
                  />
                </td>
                <td class="tableText">
                  <div v-for="x in item.description" :key="x.id">
                    <div v-bind:class="x.class">{{ x.text }}</div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-12 col-md-9">
          <div
            v-if="selectedItem.image"
            class="coverImage"
            :style="{
              backgroundImage: `url(${baseUrl}/images/${selectedItem.image})`,
            }"
          />
          <div
            v-else
            class="coverImage"
            :style="{
              backgroundImage: `url(${baseUrl}/images/${coverImage.image})`,
            }"
          />
        </div>
      </div>
    </div>
    <div v-if="showCarousel">
      <client-only>
        <carousel
          id="carousel"
          :infiniteLoop="true"
          :perPageCustom="[
            [320, 2],
            [768, 3],
            [1024, 4],
            [1440, 7],
          ]"
        >
          <slide
            v-for="item in items.data"
            :key="item.id"
            :style="{
              backgroundImage: `url(${baseUrl}/thumbnail/${item.image})`,
            }"
          >
            <div class="filter" v-on:click="selectedItem = item">
              <p>{{ item.name }}</p>
            </div>
          </slide>
        </carousel>
      </client-only>
    </div>
  </div>
</template>

<script>
import config from '@/config'
import { mapGetters, mapActions } from 'vuex'

export default {
  async asyncData({ store }) {
    try {
      await store.dispatch('homePage/getData')
    } catch (error) {
      console.error(error)
    }
  },

  data() {
    return {
      showCarousel: false,
      selectedItem: {},
      icons: [
        {
          image: `assets/images/icon_1.png`,
          width: 27,
          height: 49,
          description: [
            { text: 'ARCHITEKTURA', class: 'boldText' },
            {
              text:
                'domy jednorodzinne, obiekty\n użyteczności publicznej\n produkcyjne magazynowe',
              class: 'detailsText',
            },
          ],
        },
        {
          image: `assets/images/icon_2.png`,
          width: 27,
          height: 50,
          description: [
            { text: 'WNĘTRZA', class: 'boldText' },
            {
              text: 'mieszkalne, usługowe',
              class: 'detailsText',
            },
          ],
        },
        {
          image: `assets/images/icon_3.png`,
          width: 27,
          height: 27,
          description: [
            { text: 'PRZEBUDOWY', class: 'boldText' },
            { text: 'ROZBUDOWY', class: 'boldText' },
          ],
        },
        {
          image: `assets/images/icon_4.png`,
          width: 27,
          height: 35,
          description: [
            { text: 'PROEKTY', class: 'boldText' },
            { text: 'ZAGOSPODAROWANIA', class: 'boldText' },
            { text: 'TERENU', class: 'boldText' },
          ],
        },
        {
          image: `assets/images/icon_5.png`,
          width: 27,
          height: 39,
          description: [
            { text: 'MODELOWANIE 3D', class: 'boldText' },
            { text: 'WIZUALIZACJE', class: 'boldText' },
          ],
        },
      ],
    }
  },

  mounted() {
    // Vue.use(VueCarousel);
    this.showCarousel = true
  },

  computed: {
    ...mapGetters({
      items: 'homePage/getHome',
    }),
    baseUrl() {
      return config.mediaBaseUrl
    },
    coverImage() {
      return this.items.data.find((item) => item !== undefined)
    },
  },

  methods: {
    textLength(text, length) {
      if (text == null) {
        return ''
      }
      if (text.length <= length) {
        return text
      }
      text = text.substring(0, length)
      const last = text.lastIndexOf(' ')
      text = text.substring(0, last)
      return text + '...'
    },
  },
}
</script>

<style lang="scss">
td.icon {
  padding-top: 15px;
  padding-bottom: 15px;
}
td.tableText {
  padding: 10px;
}
.boldText {
  font-size: 11px;
  font-weight: 500;
}
.detailsText {
  font-size: 11px;
  font-weight: 400;
  color: grey;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.leftElement {
  margin-top: 100px;
  width: 100%;
  height: 450px;
  @media (max-width: 991px) {
    margin-top: 50px;
  }
  @media (max-width: 959px) {
    display: none;
  }
}
.coverImage {
  margin-top: 100px;
  margin-bottom: 10px;
  width: 100%;
  height: 450px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 480px) {
    height: 200px;
  }

  @media (max-width: 768px) {
    height: 300px;
  }
}
.VueCarousel-pagination {
  display: none;
}
#carousel {
  .VueCarousel-slide {
    height: 180px;
    background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg');
    filter: grayscale(100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    margin-left: 10px;

    &:hover {
      filter: grayscale(0%);
      p {
        left: 0;
        right: 0;
        position: absolute;
        top: 45%;
        display: block;
        font-size: 15px;
        text-align: center;
        color: white;
      }

      @media (max-width: 480px) {
        p {
          display: none;
        }
      }

      .filter {
        width: 100%;
        height: 100%;
        background-color: rgba(9, 27, 17, 0.5);
      }
    }

    a {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      overflow: hidden;
    }

    p {
      display: none;
    }
  }
}
</style>
