<template>
    <div class="container">
        <div class="col-sm-8 offset-md-2 offset-sm-3">
            <div class="col-md-12">
                <div class="row">
                    <span v-html="content" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    layout: 'default',

    async asyncData({ store }) {
        try {
            const x = await store.dispatch('contents/getData', {
                slug: 'lab-page'
            });
        } catch (error) {
            console.error(error);
        }
    },

    computed: {
        ...mapGetters({
            content: 'contents/getContent'
        })
    },

    methods: {}
};
</script>
<style scoped>
.container {
    margin-top: 200px;
}
span {
    font-size: 13px;
}
</style>
