<template>
    <div>
        <h1>Portfolio</h1>
        <div class="col-8 offset-2">
            <b-form
                ref="form"
                enctype="multipart/form-data"
                @submit.stop.prevent="createItem"
            >
                <b-form-file
                    multiple
                    accept="image/*"
                    v-model="formData.images"
                >
                    <template slot="file-name" slot-scope="{ names }">
                        <b-badge variant="dark">{{ names[0] }}</b-badge>
                        <b-badge
                            v-if="names.length > 1"
                            variant="dark"
                            class="ml-1"
                        >
                            + {{ names.length - 1 }} More files
                        </b-badge>
                    </template>
                </b-form-file>
                {{ imageErrors[0] }}
            </b-form>
            <li v-for="item in message.image" :key="item.message">{{ item }}</li
            ><br />
            <b-button
                v-if="!$v.$invalid && !loading"
                class="mt-3"
                variant="outline-primary"
                @click="createItem"
                >Upload</b-button
            >
            <b-button
                v-else-if="$v.$invalid"
                class="mt-3"
                variant="outline-primary"
                disabled
                >Upload</b-button
            >

            <b-spinner v-if="!$v.$invalid && loading" />
        </div>

        <div v-if="gallery">
            <div v-for="item in gallery" :key="item.id">
                <div class="image">
                    <img
                        :src="baseUrl + 'thumbnail/' + item.image"
                        class="rounded float-left"
                        height="200"
                        width="200"
                    />
                    <button class="btn" v-on:click="deleteItem(item)"
                        >Delete</button
                    >
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
import config from '@/config';
import { required, email } from 'vuelidate/lib/validators';
import { validationMixin } from 'vuelidate';
import FormData from 'form-data';

export default {
    layout: 'dashboard',

    middleware: 'admin',

    async asyncData({ store, params }) {
        const { id } = params;
        try {
            await store.dispatch('categories/getAllCategories');
            await store.dispatch('portfolio/featchGallery', id);
        } catch (error) {
            console.error(error);
        }
    },

    mixins: [validationMixin],

    validations: {
        formData: {
            images: { required }
        }
    },

    data() {
        return {
            formData: {
                images: null
            },
            isValid: false,
            message: '',
            loading: false
        };
    },

    computed: {
        ...mapGetters({
            portfolios: 'portfolio/getPortfolios',
            categories: 'categories/getCategories',
            gallery: 'portfolio/getGallery'
        }),

        baseUrl() {
            return config.mediaBaseUrl;
        },

        id() {
            return this.$route.params.id;
        },

        imageErrors() {
            const errors = [];
            if (!this.$v.formData.images.$dirty) return errors;
            !this.$v.formData.categorie_id.required &&
                errors.push('Image is required');

            return errors;
        }
    },

    methods: {
        ...mapActions({
            getAllCategories: 'categories/getAllCategories',
            createGallery: 'portfolio/createGallery',
            featchGallery: 'portfolio/featchGallery',
            deleteImageFromGallery: 'portfolio/deleteImageFromGallery'
        }),

        async createItem() {
            this.loading = true;
            const data = new FormData();

            this.formData.images.forEach(file => {
                data.append('images[]', file);
            });
            data.append('portfolio_id', this.id);

            let response;

            try {
                response = await this.createGallery(data);
                this.loading = false;
            } catch (e) {
                this.loading = false;
                if (e.response.data.message) {
                    this.message = e.response.data.message;
                } else {
                    this.message = e;
                }
                console.error(e);
                return;
            }
        },

        deleteItem(item) {
            try {
                this.deleteImageFromGallery(item.id);
            } catch (e) {
                console.log(e);
            }
        }
    }
};
</script>

<style scoped>
.image {
    float: left;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 5px;
}

.image .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.image .btn:hover {
    background-color: black;
}
</style>
