<template>
  <div>
    <h1>Create Portfolio</h1>
    <div class="col-8 offset-2">
      <b-form
        ref="form"
        enctype="multipart/form-data"
        @submit.stop.prevent="createItem"
      >
        <input
          v-model="formData.name"
          class="form-control"
          placeholder="Tittle"
          type="text"
          autocomplete="off"
          @blur="$v.formData.name.$touch()"
        /><small>{{ nameErrors[0] }}</small>
        <b-form-select class="mt-3" v-model="formData.categorie_id">
          <option
            v-for="(selectOption, indexOpt) in categories"
            :key="indexOpt"
            :value="selectOption.id"
          >
            {{ selectOption.name }}
          </option>
        </b-form-select>
        <b-form-file
          accept="image/*"
          type="file"
          class="mt-3"
          v-model="formData.image"
          :state="Boolean(formData.image)"
          placeholder="Choose a file or drop it here..."
          drop-placeholder="Drop file here..."
        />
        {{ imageErrors[0] }}
      </b-form>
      <li v-for="item in message.image" :key="item.message">{{ item }}</li>
      <br />
      <b-button
        v-if="!$v.$invalid && !loading"
        class="mt-3"
        variant="outline-primary"
        @click="createItem"
        >Next</b-button
      >
      <b-button
        v-else-if="$v.$invalid"
        class="mt-3"
        variant="outline-primary"
        disabled
        >Next</b-button
      >
      <b-spinner v-if="!$v.$invalid && loading" />
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import config from '@/config'
import { required, email } from 'vuelidate/lib/validators'
import { validationMixin } from 'vuelidate'
import FormData from 'form-data'

export default {
  layout: 'dashboard',

  middleware: 'admin',

  async asyncData({ store }) {
    try {
      await store.dispatch('categories/getAllCategories')
    } catch (error) {
      console.error(error)
    }
  },

  mixins: [validationMixin],

  validations: {
    formData: {
      name: { required },
      categorie_id: { required },
      image: { required },
    },
  },

  data() {
    return {
      formData: {
        name: null,
        categorie_id: null,
        image: null,
      },
      isValid: false,
      message: '',
      loading: false,
    }
  },

  computed: {
    ...mapGetters({
      portfolios: 'portfolio/getPortfolios',
      categories: 'categories/getCategories',
    }),

    baseUrl() {
      return config.mediaBaseUrl
    },

    nameErrors() {
      const errors = []
      if (!this.$v.formData.name.$dirty) return errors
      !this.$v.formData.name.required && errors.push('Tittle is required')

      return errors
    },

    categorieErrors() {
      const errors = []
      if (!this.$v.formData.categorie_id.$dirty) return errors
      !this.$v.formData.categorie_id.required &&
        errors.push('Categorie is required')

      return errors
    },

    imageErrors() {
      const errors = []
      if (!this.$v.formData.image.$dirty) return errors
      !this.$v.formData.categorie_id.required &&
        errors.push('Image is required')

      return errors
    },
  },

  methods: {
    ...mapActions({
      getAllCategories: 'categories/getAllCategories',
      createPortfolios: 'portfolio/createItem',
    }),

    async createItem() {
      this.loading = true
      const data = new FormData()

      data.append('image', this.formData.image)
      data.append('name', this.formData.name)
      data.append('categorie_id', this.formData.categorie_id)

      let result

      try {
        result = await this.createPortfolios(data)
      } catch (e) {
        if (e.response.data.message) {
          this.message = e.response.data.message
        } else {
          this.message = e
        }

        console.error(e)
        return
      }

      this.loading = false
      this.$router.push(`/portfolio/${result.id}`)
    },
  },
}
</script>
