<template>
  <div>
    <h1>Portfolio</h1>
    <b-button @click="$router.push('/portfolio/create-portfolio')"
      >Create</b-button
    >

    <div>
      <b-modal
        id="modal-footer-sm"
        title="Change Tittle"
        button-size="sm"
        @ok="updateItem"
      >
        <p class="my-2">
          {{ editItemIndex }}
          <input
            v-model="formData.name"
            class="form-control"
            placeholder="Tittle"
            type="text"
            autocomplete="off"
          />
          <b-form-select class="mt-3" v-model="formData.categorie_id">
            <option
              v-for="(selectOption, indexOpt) in categories"
              :key="indexOpt"
              :value="selectOption.id"
            >
              {{ selectOption.name }}
            </option>
          </b-form-select>
        </p>
      </b-modal>
    </div>

    <b-modal id="edit" title="Delete" @ok="deleteItem">
      <p class="my-4">Do you want to delete it? {{ editItemIndex }}</p>
    </b-modal>

    <b-table
      class="mt-4"
      :items="portfolios.data"
      :fields="fields"
      striped
      responsive="sm"
    >
      <template v-slot:cell(image)="row">
        <nuxt-link class="nav-link" :to="'/portfolio/' + row.item.id">
          <img
            :src="baseUrl + 'thumbnail/' + row.item.image"
            width="50"
            height="50"
          />
        </nuxt-link>
      </template>

      <template v-slot:cell(categorie)="row">
        <div>
          {{ categoryById(row.item.categorie_id) }}
        </div>
      </template>
      <template v-slot:cell(actions)="row">
        <b-button
          size="sm"
          variant="outline-primary"
          v-b-modal.modal-footer-sm
          @click="setData(row)"
          >Edit</b-button
        >
        <b-button
          size="sm"
          variant="outline-danger"
          @click="setData(row)"
          v-b-modal.edit
          >DELETE</b-button
        >
      </template>
    </b-table>

    <div class="overflow-auto">
      <b-pagination
        v-model="page"
        :total-rows="portfolios.total"
        :per-page="portfolios.per_page"
        size="sm"
      />
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import config from '@/config'

export default {
  layout: 'dashboard',

  middleware: 'admin',

  async asyncData({ store }) {
    try {
      await store.dispatch('portfolio/getData')
      await store.dispatch('categories/getAllCategories')
    } catch (error) {
      console.error(error)
    }
  },

  data() {
    return {
      page: '1',
      fields: ['id', 'image', 'name', 'categorie', 'actions'],
      formData: {
        name: null,
        categorie_id: null,
      },
      editItemIndex: null,
      portfolioId: null,
    }
  },

  watch: {
    page: {
      handler: async function (value) {
        await this.getData(value)
      },
    },
  },

  computed: {
    ...mapGetters({
      portfolios: 'portfolio/getPortfolios',
      categories: 'categories/getCategories',
    }),
    baseUrl() {
      return config.mediaBaseUrl
    },
  },
  methods: {
    ...mapActions({
      getData: 'portfolio/getData',
      deletePortfolio: 'portfolio/deletePortfolio',
      createPortfolios: 'portfolio/createItem',
      updatePortfolioName: 'portfolio/updatePortfolioName',
    }),

    categoryById(id) {
      const category = this.categories.find((item) => item.id === id)
      return category.name
    },

    createItem() {
      const formData = this.formData

      this.createPortfolios({ formData })

      this.hideModalCreate()
    },
    setData(item) {
      this.editItemIndex = item.index
      this.formData = {
        name: item.item.name,
        categorie_id: item.item.categorie_id,
      }

      this.portfolioId = item.item.id
    },
    async updateItem() {
      const id = this.portfolioId
      const formData = this.formData

      try {
        await this.updatePortfolioName({ id, formData })
      } catch (e) {
        console.error(e)
      }

      this.portfolioId = null
      this.formData = {}
      this.editItemIndex = null

      await this.getData()
    },

    async deleteItem() {
      try {
        this.deletePortfolio(this.portfolioId)
      } catch (e) {
        console.error(e)
      }

      await this.getData()
    },
  },
}
</script>
