<template>
    <div>
        <header-main v-bind:categories="categories" />
        <meta name="csrf-token" content="" />
        <nuxt />
        <footer-main v-bind:footer="footer" />
    </div>
</template>
<script>
import HeaderMain from '@/components/layout/header/HeaderMain';
import FooterMain from '@/components/layout/footer/FooterMain';
import { mapGetters, mapActions } from 'vuex';
import axios from 'axios';

export default {
    components: {
        HeaderMain
    },

    created() {
        this.featchData();
    },

    computed: {
        ...mapGetters({
            categories: 'categories/getCategories',
            footer: 'contents/getFooter'
        })
    },

    methods: {
        ...mapActions({
            getCategories: 'categories/getData',
            getFooter: 'contents/getFooterData'
        }),
        async featchData() {
            try {
                this.getCategories();
                this.getFooter('social-media');
            } catch (err) {
                console.error(err);
            }
        }
    }
};
</script>
