<template>
  <div class="card" @click="open = !open">
    <img :src="item.img" :width="item.width" height="200" />
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      open: false,
    };
  },
  props: ["item"],
  computed: {},
};
</script>

<style lang="scss" scoped>
.card {
  position: relative;
  width: auto;
  height: auto;
  background-color: #efefef;
  overflow: hidden;
  transition: all 0.5s ease;
  border-radius: 0;
  img {
    -webkit-filtter: grayscale(100%);
    filter: grayscale(100%);
  }

  img:hover {
    -webkit-filtter: grayscale(0%);
    filter: grayscale(0%);
  }
}
</style>