<template>
  <div id="app">
    <div class="card-list">
      <ul :style="listLength">
        <li v-for="(card, index) in cards" :key="index">
          <card :item="card" />
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import Card from "./Card";

export default {
  data: () => {
    return {
      currentIndex: 0,
      cards: [
        {
          img:
            "https://i.picsum.photos/id/11/500/300.jpg?hmac=X_37MM-ameg7HWL6TKJT2h_5_rGle7IGN_CUdEDxsAQ",
          width: 350,
          height: 200,
        },
        {
          img:
            "https://i.picsum.photos/id/653/510/300.jpg?hmac=5zIiJrDEzT36G2XPRhUOzdrB3CfwMtXi1fpBlp7hNa0",
          width: 300,
          height: 200,
        },
        {
          img:
            "https://i.picsum.photos/id/1028/350/665.jpg?hmac=-4F9iquqERNqF5WRZ1CNkV006kILQ9KcGrYcO4sibyQ",
          width: 100,
          height: 200,
        },
        {
          img:
            "https://i.picsum.photos/id/337/510/300.jpg?hmac=nljoCOT00RHCIRgbcSOApjiPsrq2Pun20GeDaVX0jS8",
          width: 300,
          height: 200,
        },
        {
          img:
            "https://i.picsum.photos/id/11/500/300.jpg?hmac=X_37MM-ameg7HWL6TKJT2h_5_rGle7IGN_CUdEDxsAQ",
          width: 350,
          height: 200,
        },
        {
          img:
            "https://i.picsum.photos/id/1072/510/300.jpg?hmac=WJ-hMhz6t-qCOFq7TG-jWS4veSUPnZuCCGAn4QsB34o",
          width: 300,
          height: 200,
        },
        {
          img:
            "https://i.picsum.photos/id/1028/350/665.jpg?hmac=-4F9iquqERNqF5WRZ1CNkV006kILQ9KcGrYcO4sibyQ",
          width: 100,
          height: 200,
        },
        {
          img:
            "https://i.picsum.photos/id/339/510/300.jpg?hmac=SwolVBOvwb1cmp3yQzSz4lvgEJy3MitqQdaYPT-XHgE",
          width: 300,
          height: 200,
        },
      ],
      touch: {
        startX: 0,
        endX: 0,
      },
    };
  },
  computed: {
    listLength() {
      return { width: 150 };
    },
    listPosition() {
      return { transform: "translateX(-" + 0 + "%)" };
    },
  },
  components: {
    Card,
  },
  methods: {
    touchstart(event) {
      this.touch.startX = event.touches[0].clientX;
      this.touch.endX = 0;
    },
    touchmove(event) {
      this.touch.endX = event.touches[0].clientX;
    },
    touchend() {
      if (
        !this.touch.endX ||
        Math.abs(this.touch.endX - this.touch.startX) < 20
      )
        return;

      if (this.touch.endX < this.touch.startX) {
      } else {
      }
    },
  },
  mounted() {
    this.$el.addEventListener("touchstart", (event) => this.touchstart(event));
    this.$el.addEventListener("touchmove", (event) => this.touchmove(event));
    this.$el.addEventListener("touchend", () => this.touchend());
  },
};
</script>

<style lang="scss" scoped>
#app {
  position: relative;
  bottom: 0;
  padding: 20px 0;
  overflow: hidden;
}
.card-list {
  margin-top: 600px;
  ul {
    display: flex;
    list-style: none;
  }
  li {
    padding: 3px;
    transition: all 0.5s ease;
  }
}
@media only screen and (max-width: 600px) {
  .card-list {
    position: relative;
    bottom: 100px;
    transform: scale(0.5);
    left: -100px;
  }
}
</style>