<template>
  <div class="container">
    <div class="col-sm-12 col-md-4 offset-md-4">
      <div v-for="item in categories.data" :key="item.id" class="category">
        <nuxt-link :to="'/portfolio/' + item.id">
          {{ item.name }}
        </nuxt-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  layout: 'default',
  async asyncData({ store }) {
    try {
      await store.dispatch('categories/getData')
    } catch (error) {
      console.error(error)
    }
  },
  computed: {
    ...mapGetters({
      categories: 'categories/getCategories',
    }),
  },
  methods: {
    ...mapActions({
      getCategories: 'categories/getData',
    }),
  },
}
</script>
<style scoped>
.container {
  margin-top: 200px;
}
#text {
  font-size: 14px;
}
.category {
  text-align: center;
  margin-top: 20px;
  height: 50px;
  background: black;
  color: white;
  padding: 13px;
}
</style>
