<template>
    <div>
        <div class="account-wall">
            <img
                class="profile-img"
                src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                alt=""
            />
            <form class="form-signin" @submit.prevent="submitRecoverButton">
                <input
                    v-model="formData.email"
                    class="form-control"
                    placeholder="Email"
                    type="text"
                    autocomplete="off"
                    value
                />
                <small>{{ message }}</small>

                <button
                    class="btn btn-lg btn-primary btn-block mt-2"
                    type="submit"
                    >Sign in</button
                >
                <label class="checkbox pull-left"></label>
                <span class="clearfix"
                    ><nuxt-link to="/login">Go to Login page</nuxt-link></span
                >
            </form>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { required } from 'vuelidate/lib/validators';

export default {
    validations: {
        formData: {
            email: {
                required
            }
        }
    },

    data() {
        return {
            formData: {
                email: ''
            },
            message: ''
        };
    },

    computed: {
        ...mapGetters({})
    },

    methods: {
        async submitRecoverButton() {
            const { email } = this.formData;
            try {
                let { data } = await this.$axios.post('/recover-password', {
                    email
                });

                this.$router.push('/login');
            } catch (e) {
                if (e) {
                    this.message = e.response.data.message;
                }

                console.error(e);
            }
        }
    }
};
</script>

<style lang="scss" scoped></style>
