<template>
    <div>
        <div class="account-wall">
            <img
                class="profile-img"
                src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                alt=""
            />
            <form class="form-signin" @submit.prevent="submitLogInRequest">
                <input
                    v-model="formData.email"
                    class="form-control"
                    placeholder="Email"
                    type="text"
                    autocomplete="off"
                    value
                />
                <input
                    v-model="formData.password"
                    class="form-control"
                    placeholder="Password"
                    type="password"
                    autocomplete="off"
                    value
                />
                <button
                    class="btn btn-lg btn-primary btn-block mt-2"
                    type="submit"
                    >Sign in</button
                >
                <label class="pull-left"></label>

                <span class="clearfix"
                    ><nuxt-link to="/login/recover-password"
                        >Have you forgotten your password?</nuxt-link
                    ></span
                >
            </form>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { required } from 'vuelidate/lib/validators';

export default {
    validations: {
        formData: {
            email: {
                required
            },
            password: {
                required
            }
        }
    },

    data() {
        return {
            formData: {
                password: '',
                email: ''
            }
        };
    },

    computed: {
        ...mapGetters({})
    },

    methods: {
        async submitLogInRequest() {
            try {
                const { data: user } = await this.$auth.loginWith('local', {
                    data: {
                        email: this.formData.email,
                        password: this.formData.password
                    }
                });
            } catch (e) {
                console.error(e);
                this.pinError = true;
                this.incorrectResponse = true;
            }
        }
    }
};
</script>

<style lang="scss" scoped></style>
