<template>
  <div class="container" style="margin-top: 140px">
    <light-gallery
      :images="imagesWithBaseUrl"
      :index="imageIndex"
      :disable-scroll="true"
      @close="imageIndex = null"
      style="position: absolute; z-index: 9999999"
    />
    <div class="col-md-10 offset-md-1">
      <div class="row">
        <div
          v-for="(item, index) in portfolio.gallery"
          :key="item.name"
          v-bind:class="{
            'col-md-8  col-lg-8': index === 0,
            'col-md-4 col-lg-4': index === 1,
          }"
        >
          <div
            v-if="index <= 1"
            class="bigImage"
            :style="{
              backgroundImage: `url(${baseUrl}images/${item.image})`,
            }"
            @click="imageIndex = index"
          />
        </div>
      </div>

      <div class="row">
        <div
          v-for="(item, index) in portfolio.gallery"
          :key="item.name"
          v-bind:class="{
            'col-md-4 col-lg-4': index >= 2,
          }"
        >
          <div
            v-if="index >= 2"
            class="smallImage"
            :style="{
              backgroundImage: `url(${baseUrl}image/${item.image}?w=400&h=400)`,
            }"
            @click="imageIndex = index"
          />
        </div>
      </div>

      <p style="text-align: right" id="text">{{ portfolio.name }}</p>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import config from '@/config'

export default {
  layout: 'default',

  async asyncData({ params, store, error }) {
    const { id } = params
    try {
      await store.dispatch('portfolio/getPortfolioById', {
        id,
      })
    } catch (err) {
      console.error(err)
    }
  },
  data() {
    return {
      imageIndex: null,
    }
  },
  computed: {
    ...mapGetters({
      portfolio: 'portfolio/getPortfolio',
    }),
    baseUrl() {
      return config.mediaBaseUrl
    },
    imagesWithBaseUrl() {
      const arr = []
      this.portfolio.gallery.map(function (x) {
        arr.push({
          url: config.mediaBaseUrl + 'images/' + x.image,
        })
      })
      return arr
    },
  },
  methods: {},

  head() {
    return {
      title: 'studio96 Architekt Łukasz Rozkosz',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: `Architektura Żory Łukasz Rozkosz. ${this.portfolio.name}`,
        },
      ],
    }
  },
}
</script>
<style lang="scss">
#text {
  font-size: 13px;
}
.error {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-size: 100px;
}
.gallery {
  width: 100%;
  min-height: 200px;
  height: auto;
}
.smallImage {
  margin-top: 9px;
  margin-bottom: 9px;
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: 1904px) {
    height: 400px;
  }
}
.bigImage {
  width: 100%;
  margin-top: 9px;
  margin-bottom: 9px;
  min-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: 1904px) {
    height: 400px;
  }
}
</style>
