<template>
  <div class="container" style="margin-top: 140px">
    <div class="col-10 offset-1">
      <div v-if="!data.length">
        <div class="error">Error 404</div>
      </div>
      <div class="row">
        <div v-for="item in data" :key="item.id" class="col-md-4">
          <nuxt-link :to="'/portfolio/gallery/' + item.slug">
            <div
              class="row smallCoverImage"
              :style="{
                backgroundImage: `url(${baseUrl}image/${item.image}?w=400&h=400)`,
              }"
            >
              <div class="filter" v-on:click="selectedItem = item">
                <p>{{ textLength(item.name, 20) }}</p>
              </div>
            </div>
          </nuxt-link>
        </div>
        <infinite-loading
          class="spiner"
          pinner="spiral"
          @infinite="infiniteScroll"
        >
          <span slot="no-more"></span>
          <span slot="no-results"></span>
        </infinite-loading>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import config from '@/config'
export default {
  layout: 'default',
  async asyncData({ params, store, error }) {
    const { id: categorie_id } = params
    try {
      const { data, current_page, next_page_url } = await store.dispatch(
        'portfolio/getPortfolios',
        {
          categorie_id,
        }
      )
      return {
        current_page,
        data,
        next_page_url,
        categorie_id,
      }
    } catch (err) {
      console.error(err)
    }
  },
  data() {
    return {
      page: 1,
    }
  },
  computed: {
    baseUrl() {
      return config.mediaBaseUrl
    },
  },
  methods: {
    ...mapActions({
      getPortfolios: 'portfolio/getPortfolios',
    }),
    textLength(text, length) {
      if (text == null) {
        return ''
      }
      if (text.length <= length) {
        return text
      }
      text = text.substring(0, length)
      const last = text.lastIndexOf(' ')
      text = text.substring(0, last)
      return text + '...'
    },
    async featchData() {
      const page = this.page + 1
      const categorie_id = this.$route.params.id
      const { data, current_page, next_page_url } = await this.getPortfolios({
        categorie_id,
        page,
      })
      data.forEach((element) => {
        const x = this.data.find((x) => x.id === element.id)
        if (!x) {
          this.data.push(element)
        }
      })
    },
    infiniteScroll($state) {
      setTimeout(() => {
        if (this.next_page_url) {
          this.featchData()
          $state.loaded()
        }
        $state.complete()
      }, 500)
    },
  },

  head() {
    return {
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: `Architektura Żory Łukasz Rozkosz.`,
        },
      ],
    }
  },
}
</script>
<style lang="scss">
#text {
  font-size: 14px;
}
.smallCoverImage {
  @media (min-width: 1904px) {
    height: 400px;
  }
  @media (min-width: 950px) {
    height: 300px;
  }
  height: 200px;
  margin-left: 5px;
  margin-top: 9px;
  margin-bottom: 9px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &:hover {
    filter: grayscale(0%);
    p {
      left: 0;
      right: 0;
      position: absolute;
      top: 50%;
      display: block;
      font-size: 15px;
      text-align: center;
      color: white;
      background-color: transparent;
    }
    .filter {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: rgba(9, 27, 17, 0.5);
    }
  }
  p {
    display: none;
  }
}
.error {
  margin: auto;
  width: 50%;
  padding: 10px;
  font-size: 40px;
}
.spiner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
</style>
