<template>
  <div>
    <!-- <editor
      key="default"
      :api-key="apiKey"
      :init="initEditorSettings"
      :value="value"
      @input="$emit('input', $event)"
    /> -->
    <vue-trix v-model="value" placeholder="Enter content" localStorage />
  </div>
</template>

<script>
import config from '@/config'

export default {
  props: {
    value: {
      required: false,
      default: '',
      type: String,
    },
    label: {
      required: false,
      default: '',
      type: String,
    },
    errorBorder: {
      required: false,
      default: false,
      type: Boolean,
    },
  },

  data() {
    return {
      apiKey: config.tinyApiKey,
    }
  },

  computed: {
    initEditorSettings() {
      return {
        height: 400,
        menubar: 'table',
        relative_urls: false,
        remove_script_host: false,
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table paste code help wordcount',
          'directionality textarea',
        ],
        toolbar: `
                    undo redo | formatselect | bold italic backcolor forecolor|
                    alignleft aligncenter alignright alignjustify |
                    bullist numlist outdent indent | removeformat | help image anchor | preview charmap autoresize
                `,
        table_appearance_options: false,
      }
    },
  },
}
</script>

<style lang="scss">
.error-border-containter {
  .tox {
    &.tox-tinymce {
      border: 1px solid red;
    }
  }
}
</style>
